*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header{
    padding: 3rem;
    display: flex;   
    justify-content: space-between;
}

.header__links{
    display: flex;
    gap: 1.5rem;
}

.header__title{
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: black;
}

.link a{
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.link :hover{
    color:red;
}

.body{
    font-size: 1.5rem;
    font-weight: 400;
    padding:2rem 8rem;
    display: flex;
    justify-content: space-between;
}

.body__details{
    margin:1rem 0;
    font-size: 2rem;
    font-weight: 500;
}

img{
    height: 25rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}

.body__des{
    margin: 2rem 0;
}

.body__title{
    font-size: 1.2rem;
}

.body__det{
    margin-top: 1.5rem;
    margin-right: 15rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

span{
    color: gray;
}

@keyframes textrotate{
    0%{
      content: 'Development';
    }
    50%{
      content: 'Content Creation';
    }
    100%{
      content: 'Coding';
    }
  }

.body_span::after{
    content: ' ';
    width: 526px;
    animation: textrotate 5s linear infinite;
    -webkit-animation: textrotate 5s linear infinite;
}

.body_icons{
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
}

/* Media query for devices below 768px (Mobile) */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 1.5rem;
        display: none;
    }

    .header__title {
        font-size: 1.5rem;
    }

    .header__links {
        display: none;
    }

    .body {
        padding: 1rem 2rem;
        flex-direction: column;
        text-align: left;
    }

    .body__title{
        font-size: 1rem;
    }

    .body__details{
        font-size: 1.5rem;
    }

    img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 1rem;
    }

    .body__det {
        margin-right: 0;
        line-height: 1rem;
        font-size: 0.8rem;
    }

    .body_icons {
        gap: 2rem;
        justify-content: center;
    }
    
    i{
        font-size: 1rem;
    }

    img{
        
        margin-top: 0;
    }
}
